<h1>Welcome Home</h1>
<p>Go to Company Index <%= link_to 'Companies Index', company_index_path%></p>
<p>Go to Asset Index <%= link_to 'Assets Index', asset_index_path%></p>
<p>Go to Employee Index <%= link_to 'Employees Index', employee_index_path%></p>