<section class="hero is-success is-fullheight">
    <div class="sign-title">
        <div class="container">
            <h1 class="title">
                Sign up
            </h1>
        </div>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
  <div class="tile is-parent is-4 sign-margin-auto">
    <div class="tile is-child">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="iP/OXJ2vyZYZNUA+04JHU9zLA2Gf6G9Grz91kycPA2hD/F41tywvrvAcx8x3/TG1RezQ5XhVBncrAqV2aFJBVg==" />
      
      <div class="field">
        <label for="user_name">Name</label><br />
        <input autofocus="autofocus" class="input" type="text" value="" name="user[name]" id="user_name" />
      </div>

      <div class="field">
        <label for="company_name">Company Name</label><br />
        <input autofocus="autofocus" class="input" type="text" value="" name="user[company_name]" id="company_name" />
      </div>  

      <div class="field">
        <label for="user_email">Email</label><br />
        <input type="email" value="" class="input" name="user[email]" id="user_email" />
      </div>

      <div class="field">
        <label for="user_password">Password</label>
        <em>(6 characters minimum)</em>
        <br />
        <input autocomplete="off" class="input" type="password" name="user[password]" id="user_password" />
      </div>

      <div class="field">
        <label for="user_password_confirmation">Password confirmation</label><br />
        <input autocomplete="off" class="input" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
      </div>

      <div class="actions">
        <input type="submit" name="commit" class="button is-info" value="Sign up" data-disable-with="Sign up" />
      </div>
    </div>
  </div>
</form>
<%= render "users/shared/links" %>
</div>
</section>
